#loginForm1 {
  width: 300px;
  background-color: thistle;
  border-bottom: 2px solid black;
  margin: auto;
}

#loginForm2 {
  width: 300px;
  background-color: antiquewhite;
  border-bottom: 2px solid black;
  margin: auto;
}

#hover {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  transition: 300ms;
}

#hover:hover {
  background-color: tomato;
  cursor: pointer;
}
