#loginForm1 {
  width: 300px;
  background-color: thistle;
  border-bottom: 2px solid black;
  margin: auto;
}

#loginForm2 {
  width: 300px;
  background-color: antiquewhite;
  border-bottom: 2px solid black;
  margin: auto;
}
